*{
    font-family: 'Segoe ui';
}

ol{
    font-size: 20pt;
}
body{
    font-size: 14pt;
    box-sizing: border-box;
}
body {
    background: #000000;
 color: #fff;
}
section {
    width: 70%;
    max-width: 1080px;
    min-width: 720px;
    margin: auto;
}
.block{
    font-family: monospace;
    background-color: rgb(31, 31, 31);
    padding: 10px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 20px;
    transition: 0.25s;
}

.block:hover{
    border-color: rgb(53, 53, 53)
    padding-bottom 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: rgb(52, 52, 52)
}